# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json
appsettings.*.json

# Node
node_modules/
dist/
build/
.env

# MacOS/Windows
.DS_Store
Thumbs.db

# Project specific
src/logs/
src/keys/
*.bacpac
